html {
  font-size: 62.5%; }
  @media (max-width: 1800px) {
    html {
      font-size: 58%; } }
  @media (max-width: 1500px) {
    html {
      font-size: 53%; } }
  @media (max-width: 991px) {
    html {
      font-size: 48%; } }

body {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #f8f9fb; }

.main {
  width: 100%;
  height: 100%; }

.sidebar {
  position: fixed;
  height: 100vh;
  min-width: 24.4rem;
  top: 0;
  left: 0;
  padding: 4.2rem 3rem;
  padding-bottom: 0;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.06);
  z-index: 1000; }
  .sidebar-body {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */ }
    .sidebar-body::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0; }
  .sidebar-info-img {
    width: 6.7rem;
    height: 6.7rem;
    border-radius: 50%; }
  .sidebar-info-name {
    padding-left: 1.3rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #002257; }
    .sidebar-info-name span {
      display: inline-block;
      width: 0.7rem;
      height: 0.7rem;
      margin-left: 0.7rem;
      background-color: #2ebd41;
      border-radius: 50%; }
  .sidebar-info-title {
    padding-left: 1.3rem;
    font-size: 1.35rem;
    font-weight: 600;
    color: #969ead; }
  .sidebar-group {
    padding-top: 4rem; }
    .sidebar-group:nth-of-type(2), .sidebar-group:nth-of-type(3) {
      padding-top: 3.5rem; }
    .sidebar-group .list-unstyled {
      margin: 0; }
    .sidebar-group h3 {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.42;
      color: #687181; }
    .sidebar-group select {
      height: 3.5rem;
      width: 100%;
      margin-top: 0.7rem;
      padding: 0 0.7rem;
      font-size: 1.2rem;
      border-color: #eaebee;
      color: #002257;
      border-radius: 3px; }
    .sidebar-group .list-unstyled li a {
      display: inline-block;
      height: 1.8rem;
      margin-top: 1.7rem;
      text-decoration: none;
      font-size: 1.3rem;
      line-height: 1.69;
      color: #002257; }
    .sidebar-group .list-unstyled li.active {
      font-weight: 700; }

.results {
  margin-left: 24.4rem;
  width: 100%;
  padding: 0 4.6rem 2.8rem 3.4rem; }
  .results-header {
    background-color: #f8f9fb;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 24.4rem);
    height: 17rem;
    margin-left: 24.4rem;
    padding: 4.1rem 4.6rem 0 3.4rem;
    z-index: 500; }
    .results-header-logout {
      height: 2rem;
      margin: 0;
      font-size: 1.5rem;
      font-weight: 600;
      color: #6e747e; }
      .results-header-logout p {
        color: #1a173b; }
      .results-header-logout i {
        margin-top: 0;
        margin-left: -3px;
        font-size: 1.8rem;
        color: #6e747e; }
    .results-header h2 {
      height: 3.7rem;
      margin: 0;
      margin-bottom: 6.6rem;
      font-size: 2.7rem;
      font-weight: 600;
      line-height: 1.37;
      color: #1a173b; }
  .results-body {
    margin-top: 17rem;
    font-family: "Lato", sans-serif;
    max-height: calc(100% - 5.5rem - 6.6rem);
    max-width: 77.7rem; }
    .results-body .section {
      margin: 1rem 0;
      background-color: #FFF;
      border: solid 1.5px #eaebee; }
      .results-body .section .section-header {
        padding: 2.5rem;
        padding-top: 3.5rem; }
        .results-body .section .section-header h2 {
          font-size: 2.1rem;
          font-weight: 700;
          line-height: 1.19;
          letter-spacing: 0.14px;
          color: #1a173b; }
      .results-body .section .btn-custom-outline {
        height: 3rem;
        background-color: #FFF;
        color: #0077ff;
        font-weight: 700;
        border: solid 1.75px #0077ff;
        border-radius: 3px; }
        .results-body .section .btn-custom-outline:hover {
          background-color: #0077ff;
          color: #FFF; }
        .results-body .section .btn-custom-outline.active {
          background-color: #0077ff;
          color: #FFF; }
          .results-body .section .btn-custom-outline.active:hover {
            background-color: #fff;
            color: #0077ff; }
    .results-body .select-team {
      min-height: 34.9vh;
      height: 100%; }
      .results-body .select-team-header .search {
        margin-top: 2rem;
        position: relative;
        width: 34.4rem;
        height: 3.5rem;
        border-radius: 4px;
        background-color: #ffffff; }
        .results-body .select-team-header .search input {
          width: 26.3rem;
          height: 3.5rem;
          padding-left: 4.3rem;
          font-size: 1.5rem;
          font-weight: 500;
          color: #000;
          border: solid 1.5px rgba(0, 0, 0, 0.1);
          border-radius: 1.7rem; }
          .results-body .select-team-header .search input::placeholder {
            font-size: 1.5rem;
            font-weight: 500;
            color: #000; }
        .results-body .select-team-header .search i {
          position: absolute;
          top: 50%;
          left: 2.5rem;
          transform: translate(-50%, -50%); }
      .results-body .select-team-body {
        max-height: 19rem;
        overflow: auto; }
        .results-body .select-team-body table {
          margin: 0 !important; }
          .results-body .select-team-body table tr {
            padding: 0 2rem; }
            .results-body .select-team-body table tr:hover {
              background-color: #f4faff; }
            .results-body .select-team-body table tr.active {
              background-color: #f4faff; }
          .results-body .select-team-body table td {
            height: 4.8rem;
            font-size: 1.4rem;
            color: #000a19;
            vertical-align: middle; }
            .results-body .select-team-body table td input[type=checkbox]:checked ~ td {
              /* Double-sized Checkboxes */
              margin-top: .5rem; }
            .results-body .select-team-body table td .btn-custom-outline {
              width: 9rem; }
            .results-body .select-team-body table td.spacer {
              width: 2.5rem; }
            .results-body .select-team-body table td:nth-of-type(6) {
              width: 9rem; }
    .results-body .select-settings-header {
      padding: 2.5rem;
      padding-top: 3.5rem; }
      .results-body .select-settings-header h2 {
        font-size: 2.1rem;
        font-weight: 700;
        line-height: 1.19;
        letter-spacing: 0.14px;
        color: #1a173b; }
    .results-body .select-settings-body {
      padding: 2.5rem;
      padding-top: 0;
      padding-bottom: 3.5rem; }
      .results-body .select-settings-body .btn-custom-outline {
        height: 3.5rem;
        font-size: 1.4rem;
        letter-spacing: 0.35px;
        padding: 0 1.7rem; }
    .results-body .export-header {
      padding: 2.5rem;
      padding-top: 3.5rem; }
      .results-body .export-header h2 {
        font-size: 2.1rem;
        font-weight: 700;
        line-height: 1.19;
        letter-spacing: 0.14px;
        color: #1a173b; }
    .results-body .export-body {
      padding: 2.5rem;
      padding-top: 0;
      padding-bottom: 3.5rem; }
      .results-body .export-body .btn-custom-outline {
        height: 3.5rem;
        font-size: 1.4rem;
        letter-spacing: 0.35px;
        padding: 0 1.7rem; }
